root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.lua]
indent_style = space
indent_size = 2
# stylua extensions
quote_type = single
call_parentheses = always
collapse_simple_statement = never
sort_requires = true
