[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git@github.com:evaryont/vim-puppet.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/characterize"]
	path = vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule "icons/Faenza"]
	path = icons/Faenza
	url = https://github.com/zhelyabuzhsky/faenza
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/zsh/plugins/zsh-history-substring-search"]
	path = config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "config/zsh/plugins/users-completions"]
	path = config/zsh/plugins/users-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "share/rbenv/plugins/ruby-build"]
	path = share/rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
