config/zsh/history
./zsh/
vim/spell/en.utf-8.add.spl
mozilla/
vim/ruby/command-t/Makefile
vim/ruby/command-t/ext.o
vim/ruby/command-t/ext.so
vim/ruby/command-t/match.o
vim/ruby/command-t/matcher.o
vim/ruby/command-t/mkmf.log
vim/bundle/*/doc/tags
vim/.netrwhist
vim/undo
mutt/.index
vim/Session.vim
vim/tmp/
vim/doc/tags
allfileshas.txt
bigobjects.txt
bigtosmall.txt
cache/
config/kde/cache-*
config/kde/socket-*
config/kde/tmp-*
config/kde4/cache-*
config/kde4/socket-*
config/kde4/tmp-*
xmonad/xmonad-*-linux
xmonad/xmonad.errors
share/Trash/
share/webkit/databases/*.localstorage
config/aurvote
config/chromium/
config/gedit/
