[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/bundle/characterize"]
	path = vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule "icons/Faenza"]
	path = icons/Faenza
	url = https://github.com/zhelyabuzhsky/faenza
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/zsh/plugins/zsh-history-substring-search"]
	path = config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "config/zsh/plugins/users-completions"]
	path = config/zsh/plugins/users-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/bundle/textobj-underscore"]
	path = vim/bundle/textobj-underscore
	url = https://github.com/kana/vim-textobj-underscore
[submodule "vim/bundle/textobj-indent"]
	path = vim/bundle/textobj-indent
	url = https://github.com/kana/vim-textobj-indent
[submodule "vim/bundle/textobj-comment"]
	path = vim/bundle/textobj-comment
	url = https://github.com/glts/vim-textobj-comment
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "vim/bundle/textobj-lastpat"]
	path = vim/bundle/textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat
[submodule "vim/bundle/textobj"]
	path = vim/bundle/textobj
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/bundle/yaifa"]
	path = vim/bundle/yaifa
	url = https://github.com/Raimondi/YAIFA
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/swapit"]
	path = vim/bundle/swapit
	url = https://github.com/mjbrownie/swapit
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim/bundle/space"]
	path = vim/bundle/space
	url = https://github.com/spiiph/vim-space
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/reimin"]
	path = vim/bundle/reimin
	url = https://github.com/wilhelmtell/reimin
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = https://github.com/tpope/vim-rake
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/rbenv"]
	path = vim/bundle/rbenv
	url = https://github.com/tpope/vim-rbenv
[submodule "vim/bundle/jdaddy"]
	path = vim/bundle/jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/bundle/tbone"]
	path = vim/bundle/tbone
	url = https://github.com/tpope/vim-tbone
[submodule "vim/bundle/LargeFile"]
	path = vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/bundle/slim"]
	path = vim/bundle/slim
	url = https://github.com/slim-template/vim-slim
[submodule "vim/bundle/search_objects"]
	path = vim/bundle/search_objects
	url = https://github.com/Raimondi/vim_search_objects
[submodule "vim/bundle/table-mode"]
	path = vim/bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/elixir"]
	path = vim/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/dockerfile"]
	path = vim/bundle/dockerfile
	url = https://github.com/honza/dockerfile.vim.git
[submodule "share/rbenv"]
	path = share/rbenv
	url = https://github.com/sstephenson/rbenv
[submodule "share/rbenv-plugins/ruby-build"]
	path = share/rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build
[submodule "share/rbenv-plugins/user-gems"]
	path = share/rbenv-plugins/user-gems
	url = https://github.com/mislav/rbenv-user-gems
[submodule "share/rbenv-plugins/ctags"]
	path = share/rbenv-plugins/ctags
	url = https://github.com/tpope/rbenv-ctags
[submodule "share/rbenv-plugins/communal-gems"]
	path = share/rbenv-plugins/communal-gems
	url = https://github.com/tpope/rbenv-communal-gems
[submodule "vim/bundle/elm"]
	path = vim/bundle/elm
	url = https://github.com/lambdatoast/elm.vim
[submodule "vim/bundle/tmux"]
	path = vim/bundle/tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/es6"]
	path = vim/bundle/es6
	url = https://github.com/isRuslan/vim-es6.git
