config/zsh/history
./zsh/
vim/spell/en.utf-8.add.spl
mozilla/
vim/ruby/command-t/Makefile
vim/ruby/command-t/ext.o
vim/ruby/command-t/ext.so
vim/ruby/command-t/match.o
vim/ruby/command-t/matcher.o
vim/ruby/command-t/mkmf.log
vim/bundle/*/doc/tags
vim/.netrwhist
vim/undo
mutt/.index
vim/Session.vim
vim/tmp/
vim/doc/tags
allfileshas.txt
bigobjects.txt
bigtosmall.txt
cache/
config/kde/cache-*
config/kde/socket-*
config/kde/tmp-*
config/kde4/cache-*
config/kde4/socket-*
config/kde4/tmp-*
xmonad/xmonad-*-linux
xmonad/xmonad.errors
share/Trash/
share/webkit/databases/*.localstorage
config/aurvote
config/chromium/
config/gedit/
share/mpd/
config/user-dirs.dirs
config/user-dirs.locale
config/irssi/away.log
config/irssi/saved_colors
config/Trolltech.conf
share/user-places.xbel
share/recently-used.xbel
share/uzbl/cookies.txt
share/uzbl/dforms/
share/uzbl/history
share/uzbl/search_history
share/uzbl/session-cookies.txt
config/burp/aur.cookies
share/yeganesh/
config/pulse/cookie
share/webkit/databases/*.localstorage
share/webkit/icondatabase/WebpageIcons.db
config/menus/applications-merged/xdg-desktop-menu-dummy.menu
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0/bookmarks
config/gnome-control-center/backgrounds/last-edited.xml
weechat/logs
weechat/weechat.log
config/conkywx/conkywx_internal/
config/pavucontrol.ini
config/beets/state.pickle
config/Skype/Skype.conf
