.bundle/
.zcompdump
Brewfile.lock.json
Gemfile.lock
etc/git/spindle
etc/git/maintenance_repos.conf
etc/irb/irb_history
etc/nvim/autoload/plug.vim
etc/nvim/autoload/plug.vim.old
etc/nvim/doc/plug.txt
etc/nvim/doc/tags
etc/nvim/lua/.luarc.json
etc/nvim/lua/packer_compiled.lua
etc/nvim/plugged/
etc/nvim/plugin/packer_compiled.lua
etc/nvim/plugin/packer_compiled.vim
etc/nvim/spell/en.utf-8.add.spl
etc/pianobar/state
etc/zsh/01_private.zsh
etc/zsh/local.zsh
share/terminfo/s/
share/terminfo/t/
