[github]
	user = evaryont
	token = $(< ~/.github-token)
[user]
	name = Colin Shea
	email = colin@evaryont.me
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = $(readlink -f ~/.gitignore)
[branch]
	autosetupmerge = true
[alias]
	a = add
	br = branch
	st = status
	ci = !"git diff --staged > git_diff_staged.diff && GIT_EDITOR=\\\"vim -p2 git_diff_staged.diff -c ':tabmove' -c ':tabprev'\\\" git commit -se ; rm git_diff_staged.diff"
	co = checkout
	unpushed = log origin..HEAD
[web]
	browser = open
[browser "open"]
	cmd = $(whence open-browser)
[push]
	default = current
[help]
	autocorrect = 1

# This is just a template parsed by zsh

# vim: set ts=8 sw=8 tw=0 syn=gitconfig:
