<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    Launch ~/.local/bin/launchctl-set-systemd-env.rb when I log in to MacOS,
    causing a bunch of environment variables (see ./etc/environment.d/*) to be
    set for the session.
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>user.env.launchd</string>
    <key>Program</key>
    <string>/Users/Shared/conflaunchd.sh</string>
    <key>EnableGlobbing</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string> <!-- GUI launchd agent: Has access to all GUI services; much like a login item. -->
        <string>StandardIO</string> <!-- non-GUI launchd agent: Runs only in non-GUI login sessions (most notably, SSH login sessions) -->
    </array>
</dict>
</plist>
