# A series of rebindings to make mutt very much more vim-like. Not only vi
# emulation, but other things as well. For future-proofing, there are some
# overlaps with the default bindings. I know that.

bind index m set-flag
bind index M clear-flag
bind index gm mail
macro index gy <set-flag>!

bind generic <Home> top-page
bind generic <End> bottom-page
bind generic gg first-entry
bind generic gG last-entry

# Change the quit key binding to ZQ instead of q
#bind index ZQ exit
#bind generic q noop
#bind index q noop

macro index S "|bogofilter -s\ns=spam/\n" "Learn as spam and save to junk"
macro pager S "|bogofilter -s\ns=spam/\n" "Learn as spam and save to junk"
macro index H "|bogofilter -n\ns="        "Learn as ham and save"
macro pager H "|bogofilter -n\ns="        "Learn as ham and save"

# vim: set syn=muttrc:
