[Unit]
Description=Music Player Daemon Sockets

[Socket]
ListenStream=${XDG_DATA_HOME}/mpd/socket
ListenStream=6600
Service=mpd.service

[Install]
WantedBy=sockets.target
