<!DOCTYPE kpartgui>
<kpartgui version="8" name="kaddressbook">
 <MenuBar>
  <Menu name="file">
   <text>&amp;File</text>
   <Menu name="file_new">
    <text>&amp;New</text>
    <Action name="akonadi_contact_create"/>
    <Action name="akonadi_contact_group_create"/>
    <Separator/>
    <Action name="akonadi_resource_create"/>
   </Menu>
   <Separator/>
   <Menu name="file_import">
    <text>&amp;Import</text>
    <Action name="file_import_vcard"/>
    <Action name="file_import_csv"/>
    <Action name="file_import_ldif"/>
    <Action name="file_import_ldap"/>
    <Action name="file_import_gmx"/>
   </Menu>
   <Menu name="file_export">
    <text>&amp;Export</text>
    <Action name="file_export_vcard30"/>
    <Action name="file_export_vcard21"/>
    <Action name="file_export_csv"/>
    <Action name="file_export_ldif"/>
    <Action name="file_export_gmx"/>
   </Menu>
   <Separator/>
   <Action name="file_print"/>
   <Separator/>
   <Action name="file_quit"/>
  </Menu>
  <Menu noMerge="1" name="edit">
   <text>&amp;Edit</text>
   <Action append="edit_edit_merge" name="akonadi_contact_item_edit"/>
   <Action append="edit_cut_merge" name="akonadi_item_cut"/>
   <Action append="edit_copy_merge" name="akonadi_item_copy"/>
   <Action append="edit_paste_merge" name="akonadi_paste"/>
   <Separator/>
   <Action append="edit_delete_merge" name="akonadi_item_delete"/>
   <Separator/>
   <Action name="akonadi_resource_delete"/>
  </Menu>
  <Menu name="settings">
   <text>&amp;Settings</text>
   <Action name="options_show_simplegui"/>
  </Menu>
 </MenuBar>
 <Menu name="akonadi_collectionview_contextmenu">
  <Action name="akonadi_collection_create"/>
  <Action name="akonadi_collection_delete"/>
  <Separator/>
  <Action name="akonadi_collection_cut"/>
  <Action name="akonadi_collection_copy"/>
  <Action name="akonadi_paste"/>
  <Separator/>
  <Action name="akonadi_resource_create"/>
  <Action name="akonadi_resource_delete"/>
  <Action name="akonadi_collection_sync"/>
  <Separator/>
  <Action name="akonadi_collection_properties"/>
  <Action name="akonadi_resource_properties"/>
 </Menu>
 <Menu name="akonadi_itemview_contextmenu">
  <Action name="akonadi_contact_create"/>
  <Action name="akonadi_contact_group_create"/>
  <Action name="akonadi_contact_item_edit"/>
  <Separator/>
  <Action name="akonadi_item_cut"/>
  <Action name="akonadi_item_copy"/>
  <Action name="akonadi_paste"/>
  <Separator/>
  <Action name="akonadi_item_delete"/>
 </Menu>
 <ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="quick_search"/>
 </ToolBar>
</kpartgui>
