[Desktop Entry]
Icon=text-html
Name=7fe9f3f2-0066-4c8a-a160-0656235aa684.jpg
Type=Link
URL[$e]=http://icanhascheezburger.files.wordpress.com/2011/08/7fe9f3f2-0066-4c8a-a160-0656235aa684.jpg
X-KDE-LastOpenedWith=firefox
