[Desktop Entry]
Icon=text-html
Name=funny-pictures-nawt-up-to-kode.jpg
Type=Link
URL[$e]=http://icanhascheezburger.files.wordpress.com/2011/07/funny-pictures-nawt-up-to-kode.jpg
X-KDE-LastOpenedWith=firefox
