[Desktop Entry]
Icon=image-png
Name=fuzzy_macbeth.png
Type=Link
URL[$e]=file://$HOME/Dropbox/Photos/fuzzy_macbeth.png
X-KDE-LastOpenedWith=telepathy-kde-contactlist
