[Desktop Entry]
Icon=text-html
Name=google6bfd4fc3ec8867d4.html
Type=Link
URL[$e]=file://$HOME/Downloads/google6bfd4fc3ec8867d4.html
X-KDE-LastOpenedWith=kfmclient_html
