[Desktop Entry]
Icon=image-jpeg
Name=macbeth_256x192.JPG
Type=Link
URL[$e]=file://$HOME/Dropbox/Photos/macbeth_256x192.JPG
X-KDE-LastOpenedWith=telepathy-kde-contactlist
