### Uncomment the following line if you want to use the "command not found" Ubuntu command
#. /etc/zsh_command_not_found

### These are a really nice view of the command line. If you do not like it, comment all lines.
PS1='\033[30;47m\u:\w>\033[0m '
prompt='%U%n%u:%B%~%b# '
PROMPT2='%_> '
echo "\\e[1;9]\\e[8]"
RPS1='< %U%m%u >'

### General config sets
LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:bd=40;33;01:cd=40;33;01:ex=01;32:mi=5;31;46:or=5;31;46:*.cmd=01;32:*.exe=01;32:*.com=01;32:*.btm=01;32:*.bat=01;32:*.deb=01;31:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.jpg=01;35:*.gif=01;35:*.bmp=01;35:*.xbm=01;35:*.xpm=01;35:*.png=01;35:*.ppm=01;35:'
LS_OPTIONS="-F -B --color=auto"

### Default definitions
## I use MOST as my default pager. You should too, but it's up to you
#PAGER=/usr/bin/most

command_oriented_history=1
HISTCONTROL=ignoreboth
ulimit -c unlimited
umask 022
mesg y

### LS and V aliases
alias ls="ls $LS_OPTIONS" #--format=vertical
alias v="ls $LS_OPTIONS --format=long"
alias l="v"

### Export everything so far
export PS1 NLSPATH PAGER MAIL LS_COLORS LS_OPTIONS LIBRARY_PATH \
            C_INCLUDE_PATH CPLUS_INCLUDE_PATH EDITOR TERM XFILESEARCHPATH

### History configuration
export HISTFILE=$HOME/.zsh_history
export HISTSIZE=8192
export SAVEHIST=8192

### CD shortcuts
export CDPATH=.:~

### List of file extensions you wish to ignore on a ls
export FIGNORE="~:.o"

### These are very interesting. I will explain some of them at the end
setopt share_history
setopt appendhistory
setopt autocd
setopt automenu
setopt autopushd
setopt autoresume
setopt complete_in_word
setopt extended_glob
setopt hist_ignoredups
setopt hist_ignorespace
setopt list_types
setopt mailwarning
setopt no_flowcontrol
setopt no_hup
setopt no_notify
setopt printexitvalue
setopt pushd_ignoredups
setopt pushd_silent

### Making sure your keyboard will work on any terminal
bindkey '^[[1~' beginning-of-line
bindkey '^[[4~' end-of-line
bindkey '^[[2~' overwrite-mode
bindkey '^[[3~' delete-char
bindkey '^[[6~' end-of-history
bindkey '^[[5~' beginning-of-history
bindkey '^[^I' reverse-menu-complete
bindkey '^[OA' up-line-or-history
bindkey '^[[A' up-line-or-history
bindkey '^[[B' down-line-or-history
bindkey '^[OB' down-line-or-history
bindkey '^[OD' backward-char
bindkey '^[OC' forward-char
bindkey '^P' history-beginning-search-backward
bindkey '^N' history-beginning-search-forward
bindkey '^[[[A' run-help
bindkey '^[[[B' which-command
bindkey '^[[[C' where-is
bindkey '^D' list-choices

### See for yourself, at the end
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'

### Push History from previous sessions
fc -R $HISTFILE

### Forcing the rehash
_force_rehash() {
  (( CURRENT == 1 )) && rehash
  return 1
}

### Loading the completion style
zstyle ':completion:*' completer \
  _oldlist _expand _force_rehash _complete

### Aliasing "run-help"
unalias run-help
autoload run-help

### Loading the compinit
autoload -U compinit
compinit

