[007@jabber.ccc.de]
Category=2
DataFilename=007@jabber.ccc.de_f0185fe1adca1d92fb1a9bcbbdc5b630.png
Filename=007@jabber.ccc.de.png

[abarahc@jabber.org]
Category=2
DataFilename=abarahc@jabber.org_f0b70c3ed5bfb001d021239ccf9eb792.png
Filename=abarahc@jabber.org.png

[jeremy.j.frady@gmail.com]
Category=2
DataFilename=jeremy.j.frady@gmail.com_e365fbfae3ed7d22b54db067c0fe862e.png
Filename=jeremy.j.frady@gmail.com.png

[me@ell.io]
Category=2
DataFilename=me@ell.io_f3f546d44d501947f1d7588e98e15a68.png
Filename=me@ell.io.png

[thristhart@gmail.com]
Category=2
DataFilename=thristhart@gmail.com_8575265b06959e5d46ff515fd01712c5.png
Filename=thristhart@gmail.com.png

[vic@demuzere.be]
Category=2
DataFilename=vic@demuzere.be_bc09af570fdbe73c00156dcce2016427.png
Filename=vic@demuzere.be.png
